@media screen (min-width: 960px){
}

body{
background:linear-gradient(orange, darkorange);
}

ul li ul a{
  display: block;
  width: 10rem;
  height: 5rem;
  background-color: black;
  border-radius: 50%;
  margin: 5rem;
  float: left;
}

ul li ul{
clear: both;
  }
}

.feedly{
  background-image: url(img/MP08UF1001.png);
  background-size: cover;
  background-repeat: no-repeat;
}

li{
list-style-type: none;
}

a{
color: white;
text-decoration: none;
font-size: 16px;
font-family: 'Roboto', sans-serif;
}
