@media screen (min-width: 960px){
}

body{
  background: #f59da4;
  padding: 0;
  margin:0;
}

.contenidor{
  background-color: #f56e6e;
  clear: both;
}

.contenidor p{
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  width: 1050px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 100px;
  text-align: center;
  margin-left: 500px;
}

.menu{
height: 40px;
width: 100%;
position: relative;
margin: 0 auto;
padding: 0;
background-color: pink;
width: 100%;
height: 50px;
}

li{
list-style-type: none;
}

.menu li{
display: inline-block;
padding: 8px;
float: right;
margin-top: 5px;
margin-right: 5px;
}

.menu a{
color: white;
font-size: 26px;
font-family: 'League Spartan', sans-serif;
}

#UF1, #UF2, #UF3, #UF4{
float: left;
position: relative;
}

#UF1{

}

#UF2{

}

#UF3{

}

#UF4{

}

p{
background-color: #f56e6e;
top: 20px;
font-size: 10px;
left: -20px;
position: relative;
}

.crispetes{
width: 50px;
height: 50px;
left: -570px;
top: -130px;
position: relative;
}

audio{
margin: 0 auto;
height: 30px;
width: 350px;
}

.ufgran {
color: #f59da4;
border-radius: 30px;
width: ;
font-family: 'League Spartan', sans-serif;
font-size: 120px;
position: relative;
margin: 0 auto;
}

.caixapag{
background-color: #ccc;
float: left;
width: 260px;
height: 230px;
margin-left: 30px;
margin-top: 40px;
margin-bottom: 40px;
text-align: center;
border-radius: 10px;
}

#divsuf1, #divsuf2, #divsuf3, #divsuf4{
position: relative;
}

#divsuf1{
top: 60px;
}

#divsuf2{
top: -20px;
}

#divsuf3{
top: -7%;
}

#divsuf4{
top: 170px;
left: -17.2%;
}

img{
border-radius: 10px;
width: 100%;
height: 100%;
}

.caixapag img:hover{
opacity: 60%;
filter: blur(1.5px);
}

a{
color: white;
text-decoration: none;
font-size: 18px;
font-family: 'Roboto', sans-serif;
}

.caixapag li{
top: 10px;
position: relative;
}

.work{
height: 190px;
width: 240px;
z-index: 2;
}

img.work:hover{
opacity: 100%;
filter: blur(1.5px);
z-index: 999;
}

.boto{
width: 200px;
height: 200px;
border-radius: 100px;
background-color: gold;
float: right;
box-shadow: black 10px 10px 10px;
z-index: 999;
}
